.healthSection {
    & .innersection {
        & .heading {
            font-size: 28px;
            font-weight: 700;
            line-height: 35px;
            text-transform: capitalize;
            margin: 0 0 10px;
            position: relative;
        }
        & .healthcheck {
            & .card {
                transition: all 0.3s ease-in-out;
                & .userImg {
                    & img {
                        transition: all 1s ease-in-out;
                    }
                }
                & .healthEsu{
                    font-size: 16px;
                    line-height: normal;
                    text-transform: capitalize;
                }
                &:hover{
                    & .userImg {
                        & img {
                            transform: scale(1.1);
                        }
                    }
                }
                &::before{
                    content: '';
                    width: 50px;
                    height: 50px;
                    background: url(../img/brand-logo.png) no-repeat, center;
                    background-size: contain;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    z-index: 3;
                }
                & .btn {
                    font-size: 12px;
                }
            }
        }
    }
}
.mapsection{
    & .headingloction {
        font-size: 28px;
        font-weight: bold;
        line-height: 35px;
        text-transform: capitalize;
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
    }
    & .subheading{
        font-size: 15px;
        font-weight: 400;
        text-align: center;
    }
    & .map{

    }
    & .section2{
        & .form-select{
        }
        & .headingform{
            font-size: 19px;
            font-weight: 700;
            color: $black;
        }
        & .addresh{
            font-size: 16px;
            // font-weight: 700;
            
            & .mapIcon {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    aspect-ratio: 10/10;
                    object-fit: contain;
                }
            }
        }
        & .btn1{
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            color: $white;
            background-color: $theme1;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: lighten($theme1 , 5);
            }

        }
        & .btn2{
            font-size: 16px;
            font-weight: 700;
            border-radius: 5px;
            text-decoration: none;
            text-align: center;
            color: $white;
            background-color: $theme2;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: lighten($theme2 , 5);
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .healthSection {
        & .innersection {
            & .heading {
                font-size: 16px;
                line-height: 20px;
            }
            & .healthcheck {
                & .card {
                    & .userImg {
                        & img {
                        }
                    }
                    & .healthEsu{
                        font-size: 14px;
                    }
                    &:hover{
                        & .userImg {
                            & img {
                            }
                        }
                    }
                    &::before{
                        content: '';
                        width: 40px;
                        height: 40px;
                    }
                    & .btn {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .mapsection{
        & .headingloction {
            font-size: 20px;
            line-height: 25px;
        }
        & .subheading{
            font-size: 14px;
    
        }
        & .map{
    
        }
        & .section2{
            & .form-select{
            }
            & .headingform{
                font-size: 16px;
            }
            & .addresh{
                font-size: 14x;
                
            }
            & .btn1{
                font-size: 14px;
                &:hover{
                }
    
            }
            & .btn2{
                font-size: 14px;
                &:hover{
                }
            }
        }
    }
}